Programs/02-word2vec/corpora*
Programs/nltk_data/*
Programs/04-Prueba-standarization/AG_NEWS/*
Progrmas/AG_NEWS/*
Programs/04-Prueba-standarization/jigsaw-toxic-comment-classification-challenge/*
Programs/16-pytorch-back-to-basics/CIFAR10/*
