Programs/02-word2vec/corpora*
Programs/nltk_data/*
Programs/04-Prueba-standarization/AG_NEWS/*
Progrmas/AG_NEWS/*
Programs/04-Prueba-standarization/jigsaw-toxic-comment-classification-challenge/*
Programs/16-pytorch-back-to-basics/CIFAR10/*
Programs/15-Training-word-vectors/vectors-emb200-win8-lmCBOW_2020-01-24-15-08-26.bin
Programs/16-pytorch-back-to-basics/vectors-25-01.bin
Programs/18-Resumen-from-stratch/cbow_trainers.bin
Programs/18-Resumen-from-stratch/data.bin
Programs/18-Resumen-from-stratch/emb1.bin
Programs/18-Resumen-from-stratch/promptsl40_test_cleaned.bin
Programs/18-Resumen-from-stratch/promptsl40_train_cleaned.bin
Programs/18-Resumen-from-stratch/sk_trainers.bin
Programs/18-Resumen-from-stratch/sk_trainers_wiki.bin
Programs/18-Resumen-from-stratch/trainers1.bin
Programs/18-Resumen-from-stratch/trainers2.bin
Programs/18-Resumen-from-stratch/trainers3.bin
Programs/18-Resumen-from-stratch/wiki
Programs/18-Resumen-from-stratch/wiki-corpus/
Programs/18-Resumen-from-stratch/wiki-frase
Programs/18-Resumen-from-stratch/xaa
Programs/18-Resumen-from-stratch/xak
Programs/18-Resumen-from-stratch/xau
Utils/Datasets/*
!Utils/Datasets/*.md
!Utils/Datasets/*.py
!Utils/Datasets/*.ipynb
Libros/*
Utils/stanford-corenlp-4.0.0/
Utils/stanford-corenlp-latest.zip
Experimentos/santander/02-bert/beto/pytorch_model.bin
Experimentos/santander/pytorch_weights.tar.gz
Experimentos/santander/02-bert/.ipynb_checkpoints/bert_v4-checkpoint.ipynb
Experimentos/santander/02-bert/bert_state_dict.bin
Experimentos/santander/02-bert/my_dataset.csv
Experimentos/santander/02-bert/results.csv
Experimentos/santander/02-bert/trained_models/*
jiant
mynlp
Programs/26-mercado-libre-api/*/*.csv
Programs/26-mercado-libre-api/*.csv
Programs/26-mercado-libre-api/*.tar.gz
!Programs/26-mercado-libre-api/reviews_esp.csv
!Programs/26-mercado-libre-api/reviews_por.csv
Programs/27-mercado-libre-api-v2/*.bin
Programs/27-mercado-libre-api-v2/parts/*
Programs/26-mercado-libre-api/lid.176.bin
!Programs/26-mercado-libre-api/reviews_por.csv
