Programs/02-word2vec/corpora*
Programs/nltk_data/*
Programs/04-Prueba-standarization/AG_NEWS/*
Progrmas/AG_NEWS/*
Programs/04-Prueba-standarization/jigsaw-toxic-comment-classification-challenge/*
Programs/16-pytorch-back-to-basics/CIFAR10/*
Programs/15-Training-word-vectors/vectors-emb200-win8-lmCBOW_2020-01-24-15-08-26.bin
Programs/16-pytorch-back-to-basics/vectors-25-01.bin

